<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.oscar.mobilesafe">

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 获取系统联系人电话 -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <!-- 开机重启权限 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <!-- 发送短信 -->
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <!-- 接收短信 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <!-- 位置权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- //获取准确GPS坐标的权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 窗体修改权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW"/>
    <!-- 电话打出权限 -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
    <!-- 读短信权限 -->
    <uses-permission android:name="android.permission.READ_SMS"/>
    <!-- 杀死进程 -->
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
    <!-- 安装快捷方式权限 -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/home_safe"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.Home"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.SettingActivity">
        </activity>
        <activity android:name=".activity.SetOverActivity">
        </activity>
        <activity android:name=".activity.SetUp1Activity">
        </activity>
        <activity android:name=".activity.SetUp2Activity">
        </activity>
        <activity android:name=".activity.SetUp3Activity">
        </activity>
        <activity android:name=".activity.SetUp4Activity">
        </activity>
        <activity android:name=".activity.AToolActivity">
        </activity>
        <activity android:name=".activity.QueryAddressActivity">
        </activity>
        <activity
            android:name=".activity.ToastLocationActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>

        <!-- 发送报警短信 -->
        <receiver android:name=".receiver.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.SmsReceiver">
            <intent-filter>
                <action android:name="android.provder.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.MyAppWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/process_widget_provider"/>
        </receiver>
        <receiver android:name=".receiver.KillProcessReceiver">
            <intent-filter>
                <action android:name="com.oscar.action.KillProcess"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/process_widget_provider"/>
        </receiver>
        <receiver
            android:name=".receiver.DeviceAdmin"
            android:description="@string/sample_device_admin_description"
            android:label="@string/sample_device_admin"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_sample"/>

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED"/>
            </intent-filter>
        </receiver>

        <!-- 位置信息 -->
        <service android:name=".service.LocationService"/>
        <!-- 电话归属地 -->
        <service android:name=".service.AddressService"/>
        <!-- 黑名单拦截 -->
        <service android:name=".service.BlackNumService"/>
        <!-- 窗口小部件更新 -->
        <service android:name=".service.UpdateWidgetService"/>

        <activity android:name=".activity.BlackNumActivity">
        </activity>
        <activity android:name=".activity.AppManagerActivity">
        </activity>
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <activity android:name=".activity.ProcessManagerActivity">
        </activity>
        <activity android:name=".activity.ProcessSetting">
        </activity>
        <activity android:name=".activity.CommonQueryActivity">
        </activity>
        <activity android:name=".activity.AppLockActivity">
        </activity>
        <activity android:name=".activity.AnitVirusActivity">
        </activity>
    </application>

</manifest>